<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<p><a href="/create">Добавить пользователя</a></p>
					<table>
						<tr><th>Name</th><th>Age</th><th></th></tr>
							{{#each users}}
								<tr>
									<td>{{this.name}}</td>
									<td>{{this.age}}</td>
								<td>
									<a href="/edit/{{this.id}}">Edit</a>|
									<form action="delete/{{this.id}}" method="POST" style="display:inline;">
										<input type="submit" value="Delete" />
									</form>
								</td>
								</tr>
								{{/each}}
					</table>
			</div>
		</div>
	</div>
</div>